{% extends 'base.html.twig' %}


{% block title %}PROFIL!{% endblock %}


{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mon Profil {{ user.email }}</a>
</nav>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre site fablab</h1>
    <p class="lead">Ceci est une simple page de présentation pour démarrer avec fablab.</p>
  </div>
</div>

<footer class="text-muted py-5 bg-light">
  <div class="container">
    <p class="float-right mb-1">
      <a href="#">Retour en haut</a>
    </p>
    <p class="mb-1">Mon Projet fablab &copy; FabLab</p>
  </div>
</footer>
{% endblock %}